<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="adminSide">
    <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div>
            <div class="brand-logo d-flex align-items-center justify-content-between">
                <a th:href="@{/}" class="text-nowrap logo-img" style="margin:0 auto;">
                    <img src="../image/common/logo.png" width="100" alt="" />
                </a>
                <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                    <i class="ti ti-x fs-8"></i>
                </div>
            </div>
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
                <ul id="sidebarnav" style="margin-top: 60px;">
                    <li class="nav-small-cap">
                        <a class="sidebar-link" th:href="@{/admin/userList}" aria-expanded="false">
                        <i class="fa-solid fa-user-minus" style="color: #343537; font-size: 10px;"></i>
                        <span class="hide-menu" style="color: #000;">회원관리</span>
                        </a>
                    </li>
                    <li class="nav-small-cap">
                        <i class="fa-solid fa-circle-info" style="color: #343537; font-size: 10px;"></i>
                        <span class="hide-menu">고객지원</span>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" th:href="@{/admin/noticeAdmin}" aria-expanded="false">
                            <span><i class="fa-solid fa-hashtag" style="color: #343537; font-size: 10px;"></i></span>
                            <span class="hide-menu">공지사항</span>
                        </a>
                        <a class="sidebar-link" th:href="@{/admin/questionList}" aria-expanded="false">
                            <span><i class="fa-solid fa-hashtag" style="color: #343537; font-size: 10px;"></i></span>
                            <span class="hide-menu">QnA</span>
                        </a>
                    </li>
                    <li class="nav-small-cap">
                        <i class="fa-solid fa-flag" style="color: #1c1c1c;"></i>
                        <span class="hide-menu">신고관리</span>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" th:href="@{/admin/reportList}" aria-expanded="false">
                            <span><i class="fa-solid fa-hashtag" style="color: #343537; font-size: 10px;"></i></span>
                            <span class="hide-menu">거래 신고</span>
                        </a>
                        <a class="sidebar-link" th:href="@{/admin/reportUser}" aria-expanded="false">
                            <span><i class="fa-solid fa-hashtag" style="color: #343537; font-size: 10px;"></i></span>
                            <span class="hide-menu">신고 회원 관리</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </aside>
</th:block>