<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>book::list</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
</head>
<body>
<h3>네이버 오픈 API를 활용한 도서 목록</h3>
<form th:action="@{/book/list}"   method="post">
    <input type="text" id="text" name="text" maxlength="50" placeholder="책 제목을 입력해주세요">
    <button class="btn btn-danger" type="submit" value="검색">검색</button>
</form>

<table border="1" id="book" >
    <thead>
    <tr>
        <th>isbn</th>
        <th>이미지</th>
        <th>제목</th>
        <th>저자</th>
        <th>출판사</th>
        <th>출판일</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book:${books}">
        <td >[[${book.isbn}]]</td>
        <td><img th:src="${book.image}" th:alt="${book.title}" width="100"></td>
        <td><a>[[${book.title}]]</a></td>
        <td>[[${book.author}]]</td>
        <td>[[${book.publisher}]]</td>
        <td>[[${book.pubdate}]]</td>
    </tr>
    </tbody>
</table>

<script>
    $(document).ready(function() {
        $('#book').DataTable();
    });
</script>
</body>
</html>