<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block th:insert="~{layout/head :: head}"></th:block>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <title>T셀파</title>
</head>
<body>
<th:block th:insert="~{layout/header :: header}"></th:block>

<!-- Spinner End -->


<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5">
    <div class="container py-5">
        <h1 class="display-3 text-white mb-3 animated slideInDown">마켓</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">마켓</li>
            </ol>
        </nav>
    </div>
</div>
<div class="container mt-5">
    <h2 class="mb-4">중고거래 게시글 작성</h2>
    <form th:action="@{/market/insert}" method="post" enctype="multipart/form-data" >
        <div class="mb-3">
            <label for="title" class="form-label">제목</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="제목을 입력하세요" required>
        </div>

        <div class="mb-3">
            <label for="price" class="form-label">가격</label>
            <input type="number" class="form-control" id="price" name="price" placeholder="가격을 입력하세요" required>
        </div>

        <div class="mb-3">
            <label for="conditions" class="form-label">제품 상태</label>
            <select class="form-select" id="conditions" name="conditions" required>
                <option value="0">상</option>
                <option value="1">중</option>
                <option value="2">하</option>
            </select>
        </div>

        <!-- 내용 입력 -->
        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea class="form-control" id="content" name="content" rows="4" placeholder="내용을 입력하세요" required></textarea>
        </div>

        <!-- 가격 입력 -->


    <div class="form-group">
        <input class="form-control form-control-user" type="file" multiple="multiple"
               name="upfile" id="product_detail_image" onchange="setDetailImage(event);">
    </div>
    <div id="images_container"></div>

        <button type="submit" class="btn btn-dark">작성하기</button>
    </form>
</div>

<script>
    function setThumbnail(event){
        var reader = new FileReader();

        reader.onload = function(event){
            var img = document.createElement("img");
            img.setAttribute("src", event.target.result);
            img.setAttribute("class", "col-lg-6");
            document.querySelector("div#image_container").appendChild(img);
        };

        reader.readAsDataURL(event.target.files[0]);
    }
</script>

<script>
    function setDetailImage(event){
        for(var image of event.target.files){
            var reader = new FileReader();

            reader.onload = function(event){
                var img = document.createElement("img");
                img.setAttribute("src", event.target.result);
                img.setAttribute("class", "col-lg-6");
                document.querySelector("div#images_container").appendChild(img);
            };

            console.log(image);
            reader.readAsDataURL(image);
        }
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Q6mGdSIlZZWh5j2I0W8CzrCJ17R8nyOEx7b8W+gqUAtj5oPPiY1tMLLmtg0X8fYB" crossorigin="anonymous"></script>
<!-- content 영역 종료 -->
<th:block th:insert="~{layout/footer :: footer}"></th:block>
<script th:src="@{/js/main.js}"></script>
</body>
</html>